[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/themes/zsh"]
	path = zsh/themes/zsh
	url = https://github.com/dracula/zsh.git
[submodule "zsh/themes/dracula"]
	path = zsh/themes/dracula
	url = https://github.com/dracula/zsh.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/pack/themes/start/dracula"]
	path = vim/pack/themes/start/dracula
	url = https://github.com/dracula/vim.git
