[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/pack/themes/start/bundle/dracula"]
	path = vim/pack/themes/start/bundle/dracula
	url = git@github.com:dracula/vim.git
[submodule "vim/pack/themes/start/dracula"]
	path = vim/pack/themes/start/dracula
	url = git@github.com:dracula/vim.git
