[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/themes/zsh"]
	path = zsh/themes/zsh
	url = https://github.com/dracula/zsh.git
[submodule "zsh/themes/dracula"]
	path = zsh/themes/dracula
	url = https://github.com/dracula/zsh.git
[submodule "visual-studio"]
	path = visual-studio
	url = https://github.com/dracula/visual-studio
[submodule "vsc/visual-studio"]
	path = vsc/visual-studio
	url = https://github.com/dracula/visual-studio
[submodule "vsc/themes/visual-studio"]
	path = vsc/themes/visual-studio
	url = https://github.com/dracula/visual-studio
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
